{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'roommates/style.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>San Francisco Roommates</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.name }}!</p>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button>Login</button></a>
            <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        {% endif %}

        <h1>Hello from Cairo! We are coming soon San Francisco</h1>
        <a target="_blank" href="{% url 'about' %}"><button>About</button></a>
        <a target="_blank" href="{% url 'contact' %}"><button>Contact</button></a>
    </body>
</html>